<table style="width:100%" id="book-list">
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
  </tr>
  {% for book in books %}
    <tr>
      <td>{{ book.pk }}</td>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>
        <button type="button" class="btn btn-danger btn-sm delete-book-btn" id="{% url 'delete_book' book.pk %}">
          Delete
        </button>
        <button type="button" class="btn btn-success btn-sm update-book-btn" id="{% url 'update_book' book.pk %}">
          Update
        </button>
      </td>
    </tr>
  {% endfor %}
</table>
<button type="button" id="add-button">Add Book</button>